.footer {
  margin: 0 auto;
  max-width: 400px;

  font-size: calc(1rem - 2px);
  font-weight: 400;

  color: #646E7A;

  letter-spacing: 0px;
}

.footer a {
  color: #548BC5;

  text-decoration: none;
}