.card{
  flex: 1 1; // flex-basis: 900px

  border-radius: 1rem;
  padding: 0 1.4em 1.4em 1.4em;

  font-size: clamp(0.75rem, 2.9vw, 3rem); 

  background-color: white;
  color: black;
}

.card__title {
  position: relative;
  top: -35px;

  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0.5em 1.3em;

  font-size: clamp(1.2rem, 4.3vw, 4.5rem); 
  font-weight: 900;

  background-color: #f50186;

  text-align: center;
}

.card__content{
  font-size: clamp(0.6rem, 2.2vw, 2.3rem);

  line-height: 1.5;
}


@media screen and (max-width: 800px){
  .card {
    flex: 0;
  }
}