.pointer {
  flex: 1 1;
  order: 1;

  font-family: "Love Ya Like A Sister", cursive;
  font-size: clamp(2rem, 6vw, 6rem);;

  color: #27c1e4;
}



@media screen and (max-width: 800px){
  .pointer {
    flex-grow: 0;
    order: 0;

    /*margin-bottom: 6rem;*/
  }
}