.row-1__layout{
  padding-top: 120px;

  height: 45vh;
  border-bottom: 0.5em solid #999999;

  font-size: calc(1rem + 4px);

  background-color: white;
}

.row-2__layout {
  padding-top: 55px;

  height: 55vh;

  font-size: calc(1rem + 4px);
  
  background-color: #666666;
}