/*RESET*/
//  1vw:16px, 1vh: 8.11px
html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Arial', sans-serif;

  background-color: #1c1c1c;
}