/*LATO FONT*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


h1 {
  margin-bottom: 1.5em;

  font-size: 2rem;
  font-weight: 800;

  line-height: 120%;
  letter-spacing: 0%;
}

h2 {
  font-size: calc(1rem + 8px);
  font-weight: 800;

  white-space: nowrap;
  line-height: 120%;
  letter-spacing: 0%;
}

p { 
  margin-top: 1rem;

  line-height: 150%;
  letter-spacing: 0;
}


/*Allowing the card's title to wrap anything below 400px width*/
@media screen and (max-width: 400px){
  h2 {
    white-space: wrap;
  }
}