h1 {
  margin-bottom: 25px;

  font-size: calc(2rem + 8px);
  font-weight: 700;

  line-height: calc(3rem + 2px);
  letter-spacing: -0.8px;
  white-space: nowrap;
}

p{
  font-weight: 400;
  font-size: 1rem;

  color: #737373;

  line-height: calc(1rem + 9px);
  letter-spacing: 0px;
}